.fourparts{
    display: none;
}
.banners{
    left: 2%;
}

.leftBody{
    margin-left: 0;
    width: 100%;
    background: #fcfcfc;
}
.tail1{
    display: none;
}
html{
    position: relative;
    margin-left: 0;
    padding: 0;
}
body{
    background: #ffffff;
}
.lBanner{
    width: 100%;
}
.item{
    height: 40%;
    background-size: cover;
}
.item.active{
    height: 40%;
    background-size: cover;
}
.leftHeader{
    min-width: 85px;
    margin-left: 10%;
}
.icon1{
    width: 80%;
    left: 10%;
}
.middleHeader{
    margin-left: 0;
    padding-left: 0;
}
#menu li{
    font-size: 12px;
    margin-left: 2.5%;
}
#menu{
    padding-left: 2.5%;
}
.banners{
    width: 75%;
    left: 11%;
    top: 10%;
    padding-bottom: 72%;
    flex-direction: column;
}
.lBanner{
    width: 100%;
}
.rBanners{
    flex-direction: row;
    width: 100%;
    margin-top: 40%;
    height: 30%;
}
.rBanners_imgs{
    height: 100%;
    width: 49%;
}
#rBanner_below{
    margin-top: 0;
    height: 100%;
    margin-left: 2%;
    
}
.fourparts{
    display: none;
}
.body{
    display: flex;
    flex-direction: column;
    top: 85%;
    left: 0;
}

.rightBody{
    width: 100%;
    margin-top: 20%;
    margin-left: 10%;
}
.r2title{
    border: none;
    margin-left: 0;
}
.r2title li{
    margin-left: 0;
}
.right2{
    border: none;
}
.right1{
    display: none;
}
#right5{
    display: none;
}
#right6{
    display: none;
}
#right7{
    display: none;
}
#right8{
    display: none;
}
#right9{
    display: none;
}
#r2li{
    font-weight: normal;
    font-size: 14px;
    color: #ff5c00;
    border-radius: 2px;
    padding: 1px 2px;
}
#r2lii{
    white-space: nowrap;
    font-size: 13px;
}
.r2contents{
    margin-left: 0;
    padding-left: 0;
}
.r2contents a{
    margin-top: 5%;
}
.r4top1{
    padding-left: 0;
    margin-left: 0;
}
.r4top1img{
    height: 270px;
    margin-left: 0;
    width: 95%;
}
.r4top1l1{
    margin-top: 100px;
    margin-left: 0;
}
#right4 p{
    margin-left: 0;
}
.r4top2{
    padding-left: 0;
}

.ltop2{
    left: 0;
}
.lt2img{
    margin-left: 0;
}

.leftBody{
    width: 75%;
    margin-left: 12%;
    background-color: #ffffff;
}
.news{
    flex-direction: row;
    height: 125px;
    padding-left: 0;
}
.newest{
    font-size: 13px;
    padding: 1px 3px;
    float: left;
}
.news:hover{
    background: #ffffff;
}
.news:hover .bgimg{
    transform: none;
}
.img-box:hover .bgimg{
    transform: scale(1.20,1.20);
    transition: all 0.2s;   
}
.text0{
    margin-left: 5%;
    float: left;
}
.text0 span{
    font-weight: normal;
    font-size: 15px;
    word-break: normal;
}
.text0 p{
    display: none;
}
.smalltext{
    margin-left: 5%;
}

.text{
    margin-left: 0;
}
.split{
    margin-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    border-top: 15px solid #f2f2f2;
    border-bottom: 15px solid #f2f2f2;
}
.contents{
    flex-direction: column;
    margin-left: 0;
    margin-top: 10px;
    padding-left: 0;
}
.ccc{
    width: 100%;
    flex-direction: row-reverse;
    height: 100px;
    border: none;
    margin-left: 0;
    padding-left: 0;
    padding-right: 5%;
}
.imgc{
    margin-top: 5px;
    width: 30%;
    height: 90%;
}
.letters{
    width: 70%;
    margin: 0;
}

.letters p{
    width: auto;
    word-wrap: break-word;
}


.split2{
    flex-direction: column;
    height: 600px;
    width: 90%;
}
.s2li1{
    margin-top: 2%;
}
.split2_left{
    background-size: cover;
    height: 100%;
    width: 95%;
}
.split2_mid{
    padding-left: 5%;
    margin: 5% 0 0 0;
}
.split2_mid ul{
    padding-left: 0;
}
.mids21{
    padding-left: 0;
    margin: 0;
}

.split2_right{
    margin-bottom: 7.5%;
    height: fit-content;
    margin-top: 7.5%;
    margin-left: 2.5%;
    padding: 2.5% 2.5%;
    width: 90%;
}
#part33{
    display: none;
}
#part32{
    margin-left: 2.5%;
}
.contents3{
    margin-top: .5%;
}
.contents3 a{
    width: 47.5%;
    margin-left: 0;
    height: 250px;
}
.c3title{
    font-size: 18px;
}
.c3exp{
    font-size: 12px;
}
.c3btn{
    font-size: 12px;
    height: 25px;
    line-height: 25px;
}


.topic3{
    padding-left: 5%;
}
.topic4{
    padding-left: 5%;
}
.p4btn{
    width: 45%;
    height: 80px;
}
#p4btnli1{
    font-size: 14px;
}
.p4btn #p4li2{
    font-size: 13px;
}
#p4btn4{
    margin-left: 4%;
}
#p4btn3{
    margin-left: 0;
}
#p4btn5{
    margin-left: 0;
}
.part2{
    display: none;
}
.tails{
    position: absolute;
    bottom: 0;
}
.tail1{
    display: none;
}
.tail2{
    display: none;
}
.t3part1{
    border: 1px solid #ffffff;
    padding: 5% 0 5% 0;
}
.t3letters1{
    width: 100%;
    border: 1px solid #ff5c00;
    padding: 0;
    height: auto;
}
.t3letters2{
    display: none;
}
.t3btns{
    display: none;
}
.tail4 a{
    display: none;
}
.tail4 li{
    color: #888;
}

.backto{
    bottom: 0%;
}
.back1{
    display: none;
}
.back2{
    display: none;
}
.back3{
    background: rgba(253, 253, 253, 0.75);;
}